      <div class="menu">
	<div class="menuitem">
	  <a title="About this site" href="/CistromeDB/About/">About</a>
	</div>
	<div class="menuitem">
	  <a title="The tutorial" href="/CistromeDB/Tutorial/">Tutorial</a>
	</div>
	<div class="menuitem">
	  <a title="The Series" href="/CistromeDB/series/">Series</a>
	</div>
	<div class="menuitem">
	  <a title="The Sample" href="/CistromeDB/sample/">Sample</a>
	</div>
	<div class="menuitem">
	  <a title="The Frequently Asked Questions" href="/CistromeDB/FAQ/">FAQ</a>
	</div>
	<div class="menuitem">
	  <a title="The Changelog" href="/CistromeDB/ChangeLog/">ChangeLog</a>
	</div>
	<div class="menuitem">
	  <a title="The TODO list" href="/CistromeDB/Todo/">TODOs</a>
	</div>
      </div><!-- menu ends here -->
