{% extends "base.html" %}

{% block title %}Sample Index page{% endblock %}
{% block h1 %}Sample Index for <i>{{method}}</i> method {% endblock %}

{% block content %}
    <td valign="top">
      {% include 'loginfo.html' %}
      {% include 'datacollection/query_sample.html' %}      
      <div class="showcase">
	<table>
	  <thead>
	    <tr>
	      <th> Description </th>
	      <th> Paper </th>
	      <th> Status </th>
	    </tr>
	  </thead>
	  <tbody>
	    {% block samplecontent %}
	    {% for s in samples_list %}
	    <tr>
	      <td><a href="../../factor/{{s.factor}}/"><b>{{s.factor}}</b></a>
		in <a href="../../species/{{s.species}}/"><b>{{s.species}}</b></a> <a href="../../cell/{{s.cell}}/"><b>{{s.cell}}</b></a>
		cell by <a href="../../platform/{{s.platform}}/"><b>{{s.platform}}</b></a></td>
	      <td>{{ s.series.short_paper }}</td>
	      <td><a href="../../{{s.id}}/">{{ s.status }}</a></td>
	    </tr>
	    {% endfor %}
	    <tr>
	      <td colspan="3">
		{% include "datacollection/paginator.html" %}
	      </td>
	    </tr>
	    {% endblock %}
	  </tbody>
	</table>
      </div>
    </td>
{% endblock %}
