{% extends "base.html" %}

{% block title %}Series Detail page{% endblock %}
{% block h1 %}Series Detail{% endblock %}

{% block content %}
    <td valign="top">
      {% include 'loginfo.html' %}
      {% include 'datacollection/query_series.html' %}
      <table>
	<tr>
	  <td>
	    <h3>Series Detail</h3>
	    <a href='../{{series.id}}/update/'>update</a>
	    | <a href='../{{series.id}}/delete/'>delete</a>
	  </td>
	</tr>
	<tr>
	  <td>
	    <div class="showcase">
	      <table>
		<tbody>
		  <tr>
		    <th>Paper</th>
		    <td>{{ series.paper }}</td>
		  </tr>
		  <tr>
		    <th>Lab</th>
		    <td>{{ series.lab }}</td>
		  </tr>
		  <tr>
		    <th>Link to PubMED</th>
		    <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ series.pubmed }}">{{ series.pubmed }}</a></td>
		  </tr>
		  <tr>
		    <th>Link to GEO</th>
		    <td><a href="http://www.ncbi.nlm.nih.gov/projects/geo/query/acc.cgi?acc=GSE{{ series.geo }}">GSE{{ series.geo }}</a></td>
		  </tr>
		  <tr>
		    <th>Publication Date</th>
		    <td>{{ series.pub_date }}</td>
		  </tr>
		  <tr>
		    <th>Status</th>
		    <td>{{ series.status }}</td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </td>
	</tr>
	<tr>
	  <td>
	    {% if num_gt_1 %}
	    <h3>{{num_of_samples}} samples in this series</h3>
	    {% else %}
	    <h3>{{num_of_samples}} sample in this series</h3>
	    {% endif %}
	    <a href="../{{series.id}}/newsample/">add sample</a>
	  </td>
	</tr>
	<tr>
	  <td>
	    <div class="showcase">
	      <table>
		<thead>
		  <tr>
		    <th> Description </th>
		    <th> Paper </th>
		    <th> Status </th>
		  </tr>
		</thead>
		<tbody>
		  {% for s in samples_list %}
		  <tr>
		    <td><a href="../../sample/factor/{{s.factor}}/"><b>{{s.factor}}</b></a>
		      in <a href="../../sample/species/{{s.species}}/"><b>{{s.species}}</b></a> <a href="../../sample/cell/{{s.cell}}/"><b>{{s.cell}}</b></a>
		      cell by <a href="../../sample/platform/{{s.platform}}/"><b>{{s.platform}}</b></a></td>
		    <td>{{ s.series.short_paper }}</td>
		    <td><a href="../../sample/{{s.id}}/">{{ s.status }}</a></td>
		  </tr>
		  {% endfor %}
		</tbody>
	      </table>
	    </div>
	  </td>
	</tr>
	<tr>
	  <td>
	    {% load comments %}
	    {% get_comment_count for series as comment_count %}
	    <h3>{{comment_count}} comment(s) for this series</h3>
	  </td>
	</tr>
	<tr>
	  <td>
	    {% get_comment_list for series as comment_list %}
	    {% for comment in comment_list %}
	    <p><b>{{comment.user_name}}</b> said at <b>{{comment.submit_date}}</b><br />
	      {{comment.comment}}</p>
	    {% endfor %}
	  </td>
	</tr>
	<tr>
	  <td>
	    <h4>add your comment</h4>
	  </td>
	</tr>
	<tr>
	  <td>
	  {% render_comment_form for series %}
	  </td>
	</tr>
      </table>
    </td>
{% endblock %}
