{% extends "base.html" %}

{% block title %}Update Sample page{% endblock %}
{% block h1 %}Update Sample{% endblock %}

{% block content %}
    <td valign="top">
      {% include 'loginfo.html' %}
      {% include 'datacollection/query_sample.html' %}
      <table>
	<tr>
	  <td>
	    <div class="showcase">
	      <table>
		<tr>
		  <td>
		    <form action="." method="POST">
		      <tr><th>{{form.series.label_tag}}</th><td>{{form.series}}</td></tr>
		      <tr><th>{{form.factor.label_tag}}</th><td>{{form.factor}}
		      <br/> {{form.factor.help_text}}</td></tr>
		      <tr><th>{{form.species.label_tag}}</th><td>{{form.species}}</td></tr>
		      <tr><th>{{form.cell.label_tag}}</th><td>{{form.cell}}</td></tr>
		      <tr><th>{{form.exp_type.label_tag}}</th><td>{{form.exp_type}}
		      <br />{{form.exp_type.help_text}}</td></tr>
		      <tr><th>{{form.platform.label_tag}}</th><td>{{form.platform}}</td></tr>
		      <tr><th>{{form.status.label_tag}}</th><td>{{form.status}}</td></tr>
		      <td><input type="submit" value="Submit" /></td>
		    </form>
		  </td>
		</tr>
	      </table>
	    </div>
	  </td>
	</tr>
      </table>
    </td>
{% endblock %}

