{% extends "base.html" %}

{% block title %}Update Sereies page{% endblock %}
{% block h1 %}Update Series{% endblock %}

{% block content %}
    <td valign="top">
      {% include 'loginfo.html' %}
      {% include 'datacollection/query_series.html' %}
      <table>
	<tr>
	  <td>
	    <div class="showcase">
	      <table>
		<tr>
		  <td>
		    <form action="." method="POST">
		      {{ form.as_table }}
		      <td><input type="submit" value="Submit" /></td>
		    </form>
		  </td>
		</tr>
	      </table>
	    </div>
	  </td>
	</tr>
      </table>
    </td>
{% endblock %}
