{% extends "base.html" %}

{% block title %}User Profile Page{% endblock %}
{% block h1 %}User Profile{% endblock %}

{% block content %}
    <td valign="top">
      {% include 'loginfo.html' %}
      <table>
	<tr>
	  <td>
	    <p>Welcome {{ user.first_name }} {{ user.last_name }} {{ user.username}}!</p>
	    <p>You registered email address is <b>{{ user.email }}</b></p>
	    <p>You last logged in at <b>{{user.last_login}}</b>.</p>
	    <p>You registered since <b>{{user.date_joined}}</b>.</p>
	  </td>
	</tr>
      </table>
    </td>
{% endblock %}
